//位置
@each $key, $value in $container-max-widths {
  $infix: breakpoint-infix($key, $value);
  @include media-generate($key, $value){
    .position#{$infix}-static {
      position: static;
    }

    .position#{$infix}-relative {
      position: relative;
    }

    .position#{$infix}-absolute {
      position: absolute;
    }

    .position#{$infix}-fixed {
      position: fixed;
    }

    .position#{$infix}-sticky {
      position: sticky;
    }
  }
}
