*, *:before, *:after {
  box-sizing:border-box;
}

html {
  font-size: $font-base;
}

body {
  position: relative;
  font-family: $font-family;
  line-height: $line-height-base;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}