.footer {
  background: $primary;
  color: $white;
  &__menu {
    display: flex;
    @include mobile {
      display: none;
    }
  }
  &__hr {
    border: 1px $white solid;
  }
  &__photo {
    width: 3rem;
    height: 3rem;
    @include pad {
      width: 1.5rem;
    }
  }
  &__link {
    color: $white;
    &:hover {
      color: $black ;
      img {
        filter: brightness(0);
      }
    }    
  }
}
.Copyright {  
  @include mobile {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
  }
}
.low {
  @include mobile {
    justify-self: start;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}