.navbar {
  padding: 0 4.25rem 0 5.5rem;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include pad {
    padding: 0 1.25rem 0 2.5rem;
  }
  @include mobile {
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  &__logo {
    padding: 0.625rem 0;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
  }
  &__item {
    @include mobile {
      width: 50%;
    }
  }
  &__link {
    display: block;
    font-weight: 300;
    font-size: 1.25rem;
    color: $white;
    padding: 2.5rem 1.25rem;
    height: 100%;
    &:hover, &:focus {
      background: $secondary;
    }
    @include mobile {
      border: 1px solid $white;
    }    
  }
}


