.seriesNav {
  border-left: 1px solid $gray-400;
  border-right: 1px solid $gray-400;
  &--active {
    border-bottom: 0.5rem solid $primary;    
  }
  &:hover {
    background: $danger;
    opacity: 80%;
  }
  &__photo {
    min-width: 2.75rem;
    min-height: 2.75rem;
    @include pad {
      min-width: 1.875rem;
      min-height: 1.875rem;
    }
    @include mobile {
      min-width: 1rem;
      min-height: 1rem;
    }
  }
  &__bgImages {
    display: flex;
    margin-bottom: 5rem;
    max-height: 19rem;
    max-width: 50vw;
  }
  &__titleEn {
    font-weight: 500;
  }
  &__title {
    font-weight: 400;
  }
} 
.Celluloid__photo {
  height: 10.25rem;
  width: 100%;
}
.Celluloid__color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  &__1 {
    background: $muted;
  }
  &__2 {
    background: $muted-light;
  }
}

