.btn {
  border: none;
  padding: 16px 143px;
  outline: 0;
  line-height: 1.5;
  cursor: pointer;
  @include pad {
    padding: 10px 77px;
  }
  @include mobile {
    padding: 8px 54px;
  }
}

.btn-primary {
  color: $white;
  background-color: $primary;
  &:hover {
    color: $primary;
    background-color: $gray-300;
  }  
}

